.root {
  margin: var(--space-5) 0 var(--space-5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: var(--text-lg);
  font-weight: 800;
  text-transform: uppercase;
  color: var(--steel-400);
}

.highlighted {
  color: var(--grey-100);
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
