.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-3);
}

.label {
  margin-bottom: var(--space-2);
  text-transform: uppercase;
  font-size: var(--text-md);
  font-weight: 600;
  color: var(--text-muted);
}

.buttonGroup {
  justify-content: center;
}

.button {
  min-width: 40px;
}
