.content {
  padding: var(--space-2);
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.meta {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: var(--space-2);

  font-size: var(--text-md);
  font-weight: 800;
}

.contour {
  height: 48px;
}

.name {
  font-size: var(--text-lg);
  font-weight: 600;
  margin-top: var(--space-2);
}

.nameSpecial {
  color: var(--sky-300);
}

.namePremium {
  color: var(--gold-400);
}
